{{#with suggestedChamps}}

  <div class="card-body p-4">
    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
      <form action="/orden" method="get">
        <button
          type="submit"
          class="btn btnDel btn-outline-dark btn-success"
        >Confirma tu orden</button>
      </form>
    </div>
  </div>

{{/with}}