<section class="h-100" style="">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
          >
            Hola! hacé click aquí para ver tu información.
          </button>
        </h5>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordion"
        style=""
      >
        <div class="card-body">
          <div class="container h-100 py-5">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-10">
                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <h3 class="fw-normal mb-0 text-black">Bienvenido!!</h3>
                </div>

                <div class="text-danger" id="tabla-user"></div>
                <a
                  id="btnLogout"
                  class="btn btn-outline-dark"
                  href="/logout"
                >Logout</a>

              </div>
            </div>
          </div>
          <div class="container my-5">
            <div class="jumbotron">

              <h1>tus datos</h1>
              <br />
              <form
                class="form"
                action="/register"
                method="post"
                role="form"
                autocomplete="off"
              >

                <div class="form-group">
                  <input
                    id="username "
                    name="username"
                    placeholder="e-mail este será tu usuario"
                    class="form-control"
                    type="text"
                    readonly
                    value="no se puede cambiar"
                  />
                </div>

                <div class="form-group">
                  <input
                    id="email"
                    name="email"
                    placeholder="Confirma tu e-mail"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="password"
                    name="password"
                    placeholder="Password"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="=password2"
                    name="=password2"
                    placeholder="Confirma tu password"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="nombre"
                    name="nombre"
                    placeholder="Nombre"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="apellido"
                    name="apellido"
                    placeholder="Apellido"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="dni"
                    name="dni"
                    placeholder="Número de D.N.I."
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="calle"
                    name="calle"
                    placeholder="Calle"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="altura"
                    name="altura"
                    placeholder="Altura / numero"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    id="pisoDpto"
                    name="pisoDpto"
                    placeholder="Piso / dpto."
                    class="form-control"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="localidad"
                    name="localidad"
                    placeholder="Localidad"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="cp"
                    name="cp"
                    placeholder="C.P."
                    class="form-control"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="provincia"
                    name="provincia"
                    placeholder="Provincia"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    id="telefono"
                    name="telefono"
                    placeholder="Telefono"
                    class="form-control"
                    type="text"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    class="btn btn-success my-3"
                    type="submit"
                    value="Registrarse"
                  />
                </div>
              </form>

              <hr />

              <div class="text-left">
                <button
                  class="btn btn-success my-3"
                  onclick="location.href = '/login'"
                >Volver al Login</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>