<section class="h-100" style="">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button
        class="btn btn-link collapsed"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Los productos publicados están aquí. Hacé click para ocultar.
      </button>
    </h5>
  </div>
  <div
    id="collapseTwo"
    class="collapse show"
    aria-labelledby="headingTwo"
    data-parent="#accordion"
    style=""
  >
    <div class="container-fluid">
      <div id="tabla-productosSocket" class="cards"></div>
    </div>
  </div>
</section>