<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>

    <!--Datos del user con WEBSOCKETS-->
        {{>tablaUser}}

    <!--Formulario de ingreso/ modificacion de productos con WEBSOCKETS-->    
        {{>formulario}}

    <!--CHAT WEBSOCKETS-->
        
        {{>chat}}

    <!--Productos WEBSOCKETS-->
        {{>tablaProductos}}

  <footer class="aboutusFooter footer">
    {{>footer}}
  </footer>
    {{>scripts}}
</body>

</html>