<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>
   <section class="py-5">
      <div class="container-fluid">
              {{>itemDetail}}
      </div>
  </section>
  <footer class="aboutusFooter footer">
    {{>footer}}
  </footer>
    {{>scripts}}
</body>
</html>