<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>

    <!--Carrito de compras con WEBSOCKETS-->
    <div class="card rounded-3 mb-4">    
        {{>itemsOrder}}
    </div>
  <footer class="aboutusFooter footer">
    {{>footer}}
  </footer>
    {{>scripts}}
</body>

</html>